extends layout

block navbar
    +navbar('disclaimer')

block content

    div.page-disclaimer

        div.page-header
            h1 Disclaimer

        p.lead The Western Heritage Realty listing agents and selling agents own property in Vista Entrada. As such, they are Owner/Brokers and often pursue sales for their own personal accounts.
