extends layout

block navbar
    +navbar('guidelines-covenants')

block content

    div.page-guidelines-covenants

        div.page-header
            h1 Architectural Guidelines & Covenant Summary

        ol

            li
                h4 Architectural Style
                | All homes must be constructed in a Southwestern architectural style to blend with the desert environment. "Southwestern style" refers to Territorial, Pueblo, Northern New Mexico, or Mission Style architecture. All house plans must be reviewed by the Architectural Control Committee (hereinafter "ACC"). Identical house plans with very similar elevations will not be allowed in close proximity.

            li
                h4 Building Surface Material
                | Except for accents and trim, all houses shall have stucco or adobe walls. Accent and trim materials other than stucco and adobe require specific approval of the ACC.

            li
                h4 House Colors
                | No house colors shall be used other than those included in the color palate adopted by the ACC which shall be limited to subtle earth tones of white, gray, and brown.

            li
                h4 Roof Material
                | All roof surfaces other than flat roofs shall be of metal, slate, or tile materials including cement tile that looks like tile or slate.

            li
                h4 Roof Colors
                | No roof colors shall be used other than those included in the color palate adopted by the ACC, which in the case of slate or tile roofs shall be limited to subtle earth tones of red, brown, and gray. Metal roofs may be standard metal roof colors.

            li
                h4 Yard Walls/Retention Walls
                | Fencing All yard walls and retention walls shall be constructed of concrete blocks. All walls in front of The house and up to the front of the rear yard return wall must be stuccoed to match the house. Any walls constructed beyond the face of the home may be constructed of block (tan). Yard fencing will be permitted beyond the face of the house and will be constructed of field fencing. Field fencing will be 5 feet high and constructed with pressure treated wood posts at no longer than 10 foot intervals.

            li
                h4 Driveway Materials
                | All drive ways shall have an all weather surface constructed of concrete, asphalt, base course, or crusher fines. Driveways will be a minimum width of 16 feet. Depending on the City of Rio Rancho specifications for drainage, a culvert or cross pan will be required at the street.

            li
                h4 Rooftop Mechanical Equipment
                | Except for mechanical equipment located on flat roofs, no mechanical equipment shall be located other than at ground level. For flat roof houses, mechanical equipment may be located on the roof only if the house structure prevents visibility of the equipment from the abutting street and the equipment is screened.

            li
                h4 Landscaping Requirements
                | All yard area between the yard walls and a street shall be landscaped to include "non turf" ground cover of gravel, native grasses, brama grass, buffalo grass, or irrigated turf. In addition, lot landscaping shall include a minimum of 3 - 2" or greater caliper trees per front yard. Where "non turf" ground cover is used, it must be Grey or Earth tone colored gravel. Irrigation systems must be designed to minimize over spray. Front yard landscaping is required at the time of home occupancy. Landscape plans must be submitted to the ACC for approval, prior to installation. Any earth disturbed by site preparation for the home must be repaired with native grass seed and straw.

            li
                h4 Minimum Home Size
                | The minimum heated living area shall be 1800 Sq. Ft. per house.

            li
                h4 Maximum Building Height
                | No home may exceed 2 stories above ground. The maximum building height will not exceed 32 feet above the highest point of the road adjacent to the house (per city height restrictions) except on designated lots with special height restrictions.

            li
                h4 Building Setbacks

                ol
                    li Front = 50 ft. from front of Lot Line
                    li Rear = 50 ft. from Rear Lot Line. (Except on designated lots with special rear setback restrictions.)
                    li Side = (1) 5 ft (2) Where side abuts a street - 15 ft from Lot Line Not withstanding these setbacks, the ACC must approve the site location of any home prior to construction.

            li
                h4 Misc. Provisions

                ol
                    li No antennas except 18" +/- TV Dish
                    li Boats, RVs, camping trailers visible from any street must be screened or garaged.
                    li Outbuildings/sheds require ACC approval and must be finished similar to the residence. Outbuildings and sheds may not be sited to block the view of neighboring homes.

            li
                h4 Public Utilities

                ol
                    li ELECTRIC - PNM
                    li GAS - Gas Company of New Mexico
                    li TELEPHONE - US West
                    li WATER - City of Rio Rancho Meter and Hook up Charge: 5/8" - $200 Water Charge: Base Rate - $7.00 plus $2.01 per thousand gallons up to 20,000 gal. $2.14 per thousand gallons over 20,000 gal.
                    li SEWER - City of Rio Rancho Hook up Charge: $200 Service Charge: Base Rate $7.02 plus $4.01 per thousand gallons based on water usage.
                    li GARBAGE - Waste Management of New Mexico Weekly pickup $36.00 per quarter (rate is subject to change)

            li
                h4 Impact Fees
                | City of Rio Rancho - $14,347.00 (Includes roads, trails, parks, public safety, water, sewer)

            li
                h4 Zoning
                | R1  One residence per lot.

            li
                h4 School System

                ol
                    li Rio Rancho Public Schools
                    li Vista Grande Elementary
                    li Mountain View Middle School:
                    li Rio Rancho Mid High (grades 8 and 9)
                    li Rio Rancho High School (grades 10 - 12)
